<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<p>Categories:
  <ul>
    <% @post.categories.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </ul>
</p>

<%= render 'index_post_users' %>
<%= render 'show_comments' %>
<%= render 'new_comment', comment: Comment.new %>
